body {
    background-color:beige;
}

div {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    padding: 20px;
    background: white;
    color: black;
    text-align: left;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
